# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [4]:
users = pd.read_csv('./u.csv',sep='|')
users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### Step 4. Discover what is the mean age per occupation

In [5]:
round(users.groupby(by='occupation').mean()['age'])

occupation
administrator    39.0
artist           31.0
doctor           44.0
educator         42.0
engineer         36.0
entertainment    29.0
executive        39.0
healthcare       42.0
homemaker        33.0
lawyer           37.0
librarian        40.0
marketing        38.0
none             27.0
other            35.0
programmer       33.0
retired          63.0
salesman         36.0
scientist        36.0
student          22.0
technician       33.0
writer           36.0
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [6]:
aa = users[users['gender']=='M'].groupby(by=['occupation','gender']).count()
aa.sort_values('user_id',ascending=False)['user_id']

occupation     gender
student        M         136
other          M          69
educator       M          69
engineer       M          65
programmer     M          60
administrator  M          43
executive      M          29
scientist      M          28
technician     M          26
writer         M          26
librarian      M          22
marketing      M          16
entertainment  M          16
artist         M          15
retired        M          13
lawyer         M          10
salesman       M           9
doctor         M           7
none           M           5
healthcare     M           5
homemaker      M           1
Name: user_id, dtype: int64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [7]:
users.groupby(by=['occupation']).age.agg(['max','min'])

               max  min
occupation
administrator   70   21
artist          48   19
doctor          64   28
educator        63   23
engineer        70   22
entertainment   50   15
executive       69   22
healthcare      62   22
homemaker       50   20
lawyer          53   21
librarian       69   23
marketing       55   24
none            55   11
other           64   13
programmer      63   20
retired         73   51
salesman        66   18
scientist       55   23
student         42    7
technician      55   21
writer          60   18

### Step 7. For each combination of occupation and gender, calculate the mean age

In [8]:
round(users.groupby(by=['occupation','gender']).age.mean())

occupation     gender
administrator  F         41.0
               M         37.0
artist         F         30.0
               M         32.0
doctor         M         44.0
educator       F         39.0
               M         43.0
engineer       F         30.0
               M         37.0
entertainment  F         31.0
               M         29.0
executive      F         44.0
               M         38.0
healthcare     F         40.0
               M         45.0
homemaker      F         34.0
               M         23.0
lawyer         F         40.0
               M         36.0
librarian      F         40.0
               M         40.0
marketing      F         37.0
               M         38.0
none           F         36.0
               M         19.0
other          F         35.0
               M         34.0
programmer     F         32.0
               M         33.0
retired        F         70.0
               M         63.0
salesman       F         27.0
               M         39.0
scientist      F         28.0
               M         36.0
student        F         21.0
               M         23.0
technician     F         38.0
               M         33.0
writer         F         38.0
               M         35.0
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [18]:
mfzho = users.groupby(by=['occupation','gender']).agg({'gender':'count'})
zho = users.groupby(by=['occupation']).count()
aa = mfzho.div(zho,level='occupation') * 100
round(aa['gender'])

occupation     gender
administrator  F          46.0
               M          54.0
artist         F          46.0
               M          54.0
doctor         M         100.0
educator       F          27.0
               M          73.0
engineer       F           3.0
               M          97.0
entertainment  F          11.0
               M          89.0
executive      F           9.0
               M          91.0
healthcare     F          69.0
               M          31.0
homemaker      F          86.0
               M          14.0
lawyer         F          17.0
               M          83.0
librarian      F          57.0
               M          43.0
marketing      F          38.0
               M          62.0
none           F          44.0
               M          56.0
other          F          34.0
               M          66.0
programmer     F           9.0
               M          91.0
retired        F           7.0
               M          93.0
salesman       F          25.0
               M          75.0
scientist      F          10.0
               M          90.0
student        F          31.0
               M          69.0
technician     F           4.0
               M          96.0
writer         F          42.0
               M          58.0
Name: gender, dtype: float64