# 导入文件模块

In [10]:
import pandas as pd
# data = pd.read_csv(f'E:\home\scores.csv')
# data_2 =data[['一本分数线文科','一本分数线理科','二本分数线文科','二本分数线理科']].set_index(data['年份'],drop=True,inplace=False)
# data_2

data = pd.read_excel(f'E:\home\scores.xlsx',header=1,names=['年份','一本分数线文科','一本分数线理科','二本分数线文科','二本分数线理科'])
data_2 =data[['一本分数线文科','一本分数线理科','二本分数线文科','二本分数线理科']].set_index(data['年份'],drop=True,inplace=False)
data_2

      一本分数线文科  一本分数线理科  二本分数线文科  二本分数线理科
年份
2018      576      532      488      432
2017      555      537      468      439
2016      583      548      532      494
2015      579      548      527      495
2014      565      543      507      495
2013      549      550      494      505
2012      495      477      446      433
2011      524      484      481      435
2010      524      494      474      441
2009      532      501      489      459
2008      515      502      472      455
2007      528      531      489      478
2006      516      528      476      476

In [13]:
aa = data_2.loc[:'2018'].values - data_2.loc[:'2017'].values
aa

array([[ 0,  0,  0,  0],
       [21, -5, 20, -7]], dtype=int64)